# Python
__pycache__/
*.pyc

# virtual env
.venv/

# data
data_cache/
notebooks/data_cache/

# Jupyter checkpoints
.ipynb_checkpoints/

# MacOS
.DS_Store

results/ppo_ensemble/*.png
results/ppo_ensemble/*.json
results/ppo_ensemble_weighted/*.png
results/ppo_ensemble_weighted/*.json

